# Loops in Python

## While Loop

#### Syntax for while

In [12]:
a=1
b=5

while a<b:
    print(a)
    a+=1

print('a')

1
2
3
4
a

In [5]:
a=1
b=10

while a<b:
    print(a)
    a+=1
    if a==5:break
else:
    print('I am in else')


print('a')

1
2
3
4
a

In [6]:
a=1
b=10

while a<b:
    if a%2==0: 
        a+=1
        continue
    print(a)
    a+=1
else:
    print('I am in else')


print('a')

1
3
5
7
9
I am in else
a

In [19]:
a=15
b=20

while b>a:
    if b%2==0:
        b-=1
        continue
    if b==17:
        print('Breaking')
        break
    print(b)
    b-=1
else:
    print('Exited the loop while any breaks')

19
Breaking

#### Nested While

In [7]:
c = 1
d = 5

while c < d:
    a = 15
    b = 20
    while b > a:
        if b % 2 == 0:
            b-=1
            continue
        if b == 16:
            b-=1
            break
        print(c, b)
        b -= 1
    c += 1

1 19
1 17
2 19
2 17
3 19
3 17
4 19
4 17

## For Loop

### Unpacking

In [8]:
a,b=1,2
print(a,b)

1 2

In [9]:
((a,b),c)=((1,2),3)
print(a,b,c)

1 2 3

In [12]:
((a,b),c)=('XY',3)
print(a,b,c)

X Y 3

In [13]:
(a,*b,c)=(1,2,4,5,6)
print(a,b,c)

1 [2, 4, 5] 6

In [14]:
(a,b,*c)=(1,2,4,5,6)
print(a,b,c)

1 2 [4, 5, 6]

In [15]:
(*a,*b,c)=(1,2,4,5,6)
print(a,b,c)

SyntaxError: multiple starred expressions in assignment (3197137941.py, line 1)

In [22]:
list(range(1,11,3))

[1, 4, 7, 10]

In [23]:
list(range(1,11,3))

[1, 4, 7, 10]

#### Syntax for For Loop

In [25]:
iterable = list(range(1, 11,3))

for i in iterable:
    print(i)

1
4
7
10

In [27]:
for i in range(1,7):
    if i%2==0:
        continue
    if i==5:
        break    
    print(i)
else:
    print('Exited without break')

1
3

In [28]:
iterable=[(1,2),(1,3),(1,5)]

for a,b in iterable:
    print(a*b)

2
3
5

In [29]:
iterable=[(1,2,3),(1,3,3),(1,5,3)]

for a,b,c in iterable:
    print(a,b,c)

1 2 3
1 3 3
1 5 3

In [30]:
iterable=[(('XY'),3),(("XY"),3),(("GU"),3)]

for (a,b),c in iterable:
    print(a,b,c)

X Y 3
X Y 3
G U 3

In [31]:
iterable=[(('XY'),5,3),(("XY"),5,3),(("GU"),5,3)]

for *a,c in iterable:
    print(a,c)

['XY', 5] 3
['XY', 5] 3
['GU', 5] 3

### zip

In [33]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [10,20,30,40,50]

print(list(zip(l1,l2,l3)))

for a,b,c in zip(l1,l2,l3):
    print(a*b*c)

[(1, 10, 10), (2, 20, 20), (3, 30, 30), (4, 40, 40), (5, 50, 50)]
100
800
2700
6400
12500

#### Traditional way of keeping counter/offset

In [34]:
l1=list(range(1,20,3))

c=0
for i in l1:
    print(c,i)
    c+=1

0 1
1 4
2 7
3 10
4 13
5 16
6 19

#### Pythonic way of keeping a counter/offset

In [35]:
for i in enumerate(range(1,20,3)):
    print(i)

(0, 1)
(1, 4)
(2, 7)
(3, 10)
(4, 13)
(5, 16)
(6, 19)

In [36]:
for c,i in enumerate(range(1,20,3)):
    print(c,i)

0 1
1 4
2 7
3 10
4 13
5 16
6 19

#### Nested For Loops

In [37]:
for char in 'Python':
    for i in range(3):
        if char=='y':
            continue
        print(char, end=' ')
    print()

P P P

t t t
h h h
o o o
n n n

### List Comprehension

In [38]:
# traditional way

l = list(range(0,11,4))

l2 = []

for i in l:
    l2.append(i*4)

print(l2)

[0, 16, 32]

In [39]:
l2 = [i*4 for i in l]
print(l2)

[0, 16, 32]

### Map

In [41]:
def mul_by_4(i):
    return i*5

l2=map(mul_by_4,l)

print(list(l2))

[0, 20, 40]